<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <main role="main" class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Papyrus</h1>
                <p>Web application for storing source code</p>
                <p><a class="btn btn-primary btn-lg" href="/scroll" role="button">My code snippets.</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
            </div>

            <hr>

        </div>
        </main>
    </div>
</body>
</html>