<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Scroll</title>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Scroll</h2>
                    <p><a class="btn btn-primary btn-lg" href="/index" role="button">Home page »</a></p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>